body{
    display: flex;
    flex-direction: column;
    margin:0px;
    padding:0px;
}

.logo{
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding:48px;
    padding-bottom: 0px;
    padding-top: 10px;
}

.right-links{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 8px;
    margin:0px;
    padding:0px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    background-color: #1f2937;
    padding: 48px;
}

h1{
    font-size: 48px;
    font-weight: 900px;
    color: #f9faf8;
}

.container p{
    font-size: 18px;
    color: #e5e7eb;
}

button.signup{
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    border-radius: 5px;
    padding: 8px;
}

.right{
    display: flex;
    align-items: flex-start;
}

.random{
    text-align: center;
    background: white;
    padding: 48px;
}

.subtext{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.title{
    font-size: 36px;
    font-weight: 900px;
    color: #1f2937;
}

.info{
    margin:24px;
    max-width: 150px;
    gap: 6px;
}

img{
    width:  100px;
    height: 100px;
    object-fit: cover;
    border-color: #3883f6;
    border-radius: 5px;
}

.quote{
    text-align: justify;
    background: #e5e7eb;
}

.quote p{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding-top: 100px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 0px;
}

h4{
    padding-right:100px;
    font-size: 36px;
    text-align:right;
}

.cto{
    background:#3882f6;
    margin: 50px;
    display: flex;
    padding:16px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 32%;
}

.cto button{
    background: #3882f6;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    padding: 12px;
}

h3, .cto p{
    color: white;
}

h3{
    font-size: 18px;
}

.footer{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

p{
    color: #e5e7eb;
}